body {
  background-image: url("http://react-jobly-1.surge.sh/static/media/background.6549e727.png");
}


a {
  text-decoration: none;
}

.companiesLink {
  margin: 0 2rem;
}

.jobsLink {
  margin: 0 2rem;
}

.homeLink {
  margin: 0 2rem;
}