body {
  /* background-image: url("http://react-jobly-1.surge.sh/static/media/background.6549e727.png"); */
  background: url(/public/background.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.home-heading {
  text-shadow: 2px 2px 5px #34302f;
}

